:root {
  --background: #1d1b1b;
  --secondary: #b9b9b9;
}

/*
  --background: #1d1d1d;
  --secondary: #a3a30a;
*/

body {
  background: var(--background);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

.start {
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 50px;
  padding-top: 10%;
  text-shadow: 0px 0px 2px var(--secondary);
  color: var(--secondary);
  overflow: auto;
  text-align: center;
  font-weight: bold;
  cursor: default;
}
.start div {
  display: flex;
}
#yes, #no {
  width: 100%;
  outline: none;
  font-size: 70px;
  cursor: pointer;
}

.video {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 5%;
  overflow: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0px 0px 2px var(--secondary);
  color: var(--secondary);
  cursor: default;
}

.console {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--secondary);
  cursor: text;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0px 0px 2px var(--secondary);
  overflow: auto;
  padding: 10px;
  white-space: pre-wrap;
  border: 5px ridge var(--secondary);
  outline: none;
}
#consoleBG {
  position: fixed;
  top: 30px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding: 10px;
  z-index: 1;
  overflow: auto;
}

.tab {
  color: var(--background);
  background: var(--secondary);
  padding: 4px 0 2px;
  border-bottom: 2px ridge var(--secondary);
  cursor: default;
  overflow: hidden;
}
#tab1 {
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
}
#tab2, #tab3 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#win1, #win2 {
  position: fixed;
  border: 5px ridge var(--secondary);
  z-index: 10;
  cursor: default;
}
#win1 {
  background: url("https://i.pinimg.com/originals/d8/47/7c/d8477c065b8d3c7253da4541e32e9637.gif");
  width: 30%;
  height: 40%;
  bottom: 5px;
  right: 5px;
}
#win2 {
  background: bottom/cover url("https://64.media.tumblr.com/9488d87045d5a6ec32f0fa47800610ec/tumblr_n7g7kiW5a21tcx5h6o1_500.gif") no-repeat, var(--background);
  width: 20%;
  height: 34%;
  top: 150px;
  right: 5px;
}

.icons {
  display: inline-flex;
  width: 70px;
  padding-right: 5px;
  justify-content: space-between;
  float: right;
}
.icons i, .icons b {
  cursor: pointer;
}

#blink {
  animation: blinking 1s infinite;
}
@keyframes blinking{
  0% {
    color: var(--secondary);
    text-shadow: 0px 0px 2px var(--secondary);
  }
  50% {
    color: transparent;
    text-shadow: none;
  }
  100% {
    color: var(--secondary);
    text-shadow: 0px 0px 2px var(--secondary);
  }
}